# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
media/
staticfiles/
static_root/
local_settings.py

# If you use Django Debug Toolbar or similar tools
debug_toolbar/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# pytest
.cache
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Profiling data
.prof

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Pipenv
Pipfile.lock

# Poetry
poetry.lock

# Local dev files
*.sqlite3
*.json