[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
scrapy = "*"
requests = "*"
playwright = "*"
django-apscheduler = "*"
apscheduler = "*"
psycopg2 = "*"
camoufox = "*"

[dev-packages]

[requires]
python_version = "3.10"
