[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
scrapy = "*"
requests = "*"
playwright = "*"
django-apscheduler = "*"
apscheduler = "*"
psycopg2 = "*"
camoufox = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
whitenoise = "*"
gunicorn = {version = "*", markers = "sys_platform == 'linux'"}
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.10"
